In [1]:
import sys
!{sys.executable} -m pip install google-cloud-bigquery

Collecting google-cloud-bigquery
  Downloading google_cloud_bigquery-3.13.0-py2.py3-none-any.whl.metadata (8.5 kB)
Collecting grpcio<2.0dev,>=1.47.0 (from google-cloud-bigquery)
  Downloading grpcio-1.59.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.0 kB)
Collecting google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading google_api_core-2.14.0-py3-none-any.whl.metadata (2.6 kB)
Collecting proto-plus<2.0.0dev,>=1.15.0 (from google-cloud-bigquery)
  Downloading proto_plus-1.22.3-py3-none-any.whl.metadata (2.2 kB)
Collecting google-cloud-core<3.0.0dev,>=1.6.0 (from google-cloud-bigquery)
  Downloading google_cloud_core-2.3.3-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting google-resumable-media<3.0dev,>=0.6.0 (from google-cloud-bigquery)
  Downloading google_resumable_media-2.6.0-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: packaging>=20.0.0 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery) (23.2)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery) (4.24.3)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery) (2.31.0)
Collecting googleapis-common-protos<2.0.dev0,>=1.56.2 (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading googleapis_common_protos-1.61.0-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting google-auth<3.0.dev0,>=2.14.1 (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading google_auth-2.24.0-py2.py3-none-any.whl.metadata (4.7 kB)
Collecting grpcio-status<2.0.dev0,>=1.33.2 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading grpcio_status-1.59.3-py3-none-any.whl.metadata (1.3 kB)
Collecting google-crc32c<2.0dev,>=1.0 (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery)
  Downloading google_crc32c-1.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (32 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2023.7.22)
Collecting cachetools<6.0,>=2.0.0 (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading cachetools-5.3.2-py3-none-any.whl.metadata (5.2 kB)
Collecting pyasn1-modules>=0.2.1 (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading pyasn1_modules-0.3.0-py2.py3-none-any.whl (181 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 181.3/181.3 kB 9.3 MB/s eta 0:00:00
Collecting rsa<5,>=3.1.4 (from google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting pyasn1<0.6.0,>=0.4.6 (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery)
  Downloading pyasn1-0.5.1-py2.py3-none-any.whl.metadata (8.6 kB)
Downloading google_cloud_bigquery-3.13.0-py2.py3-none-any.whl (222 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 222.8/222.8 kB 22.2 MB/s eta 0:00:00
Downloading google_api_core-2.14.0-py3-none-any.whl (122 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 122.2/122.2 kB 13.7 MB/s eta 0:00:00
Downloading google_cloud_core-2.3.3-py2.py3-none-any.whl (29 kB)
Downloading google_resumable_media-2.6.0-py2.py3-none-any.whl (80 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.3/80.3 kB 9.2 MB/s eta 0:00:00
Downloading grpcio-1.59.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 73.4 MB/s eta 0:00:00:00:0100:01
Downloading proto_plus-1.22.3-py3-none-any.whl (48 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.1/48.1 kB 5.4 MB/s eta 0:00:00
Downloading google_auth-2.24.0-py2.py3-none-any.whl (183 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 183.8/183.8 kB 20.3 MB/s eta 0:00:00
Downloading googleapis_common_protos-1.61.0-py2.py3-none-any.whl (230 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 230.9/230.9 kB 21.9 MB/s eta 0:00:00
Downloading grpcio_status-1.59.3-py3-none-any.whl (14 kB)
Downloading cachetools-5.3.2-py3-none-any.whl (9.3 kB)
Downloading pyasn1-0.5.1-py2.py3-none-any.whl (84 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.9/84.9 kB 9.5 MB/s eta 0:00:00
Installing collected packages: pyasn1, proto-plus, grpcio, googleapis-common-protos, google-crc32c, cachetools, rsa, pyasn1-modules, grpcio-status, google-resumable-media, google-auth, google-api-core, google-cloud-core, google-cloud-bigquery
Successfully installed cachetools-5.3.2 google-api-core-2.14.0 google-auth-2.24.0 google-cloud-bigquery-3.13.0 google-cloud-core-2.3.3 google-crc32c-1.5.0 google-resumable-media-2.6.0 googleapis-common-protos-1.61.0 grpcio-1.59.3 grpcio-status-1.59.3 proto-plus-1.22.3 pyasn1-0.5.1 pyasn1-modules-0.3.0 rsa-4.9

In [2]:
!pip install prettytable

Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable) (0.2.8)
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: prettytable
Successfully installed prettytable-3.9.0

In [3]:
!pip install db-dtypes

Collecting db-dtypes
  Downloading db_dtypes-1.1.1-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: packaging>=17.0 in /opt/conda/lib/python3.11/site-packages (from db-dtypes) (23.2)
Requirement already satisfied: pandas>=0.24.2 in /opt/conda/lib/python3.11/site-packages (from db-dtypes) (2.0.3)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/conda/lib/python3.11/site-packages (from db-dtypes) (13.0.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.11/site-packages (from db-dtypes) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.24.2->db-dtypes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.24.2->db-dtypes) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=0.24.2->db-dtypes) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.24.2->db-dtypes) (1.16.0)
Installing collected packages: db-dtypes
Successfully installed db-dtypes-1.1.1

In [4]:
!pip install pandas-gbq

Collecting pandas-gbq
  Downloading pandas_gbq-0.19.2-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (68.2.2)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (1.1.1)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (1.24.4)
Requirement already satisfied: pandas>=1.1.4 in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (2.0.3)
Requirement already satisfied: pyarrow>=3.0.0 in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (13.0.0)
Collecting pydata-google-auth>=1.5.0 (from pandas-gbq)
  Downloading pydata_google_auth-1.8.2-py2.py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (2.14.0)
Requirement already satisfied: google-auth>=2.13.0 in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (2.24.0)
Collecting google-auth-oauthlib>=0.7.0 (from pandas-gbq)
  Downloading google_auth_oauthlib-1.1.0-py2.py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5 in /opt/conda/lib/python3.11/site-packages (from pandas-gbq) (3.13.0)
Collecting google-cloud-bigquery-storage<3.0.0dev,>=2.16.2 (from pandas-gbq)
  Downloading google_cloud_bigquery_storage-2.23.0-py2.py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: packaging>=17.0 in /opt/conda/lib/python3.11/site-packages (from db-dtypes<2.0.0,>=1.0.4->pandas-gbq) (23.2)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /opt/conda/lib/python3.11/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.61.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /opt/conda/lib/python3.11/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.24.3)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /opt/conda/lib/python3.11/site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from google-auth>=2.13.0->pandas-gbq) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.11/site-packages (from google-auth>=2.13.0->pandas-gbq) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.11/site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib>=0.7.0->pandas-gbq)
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.59.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.6.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /opt/conda/lib/python3.11/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /opt/conda/lib/python3.11/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.59.3)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.11/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /opt/conda/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.5.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=3.3.5->pandas-gbq) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2023.7.22)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.2.2)
Downloading google_auth_oauthlib-1.1.0-py2.py3-none-any.whl (19 kB)
Downloading google_cloud_bigquery_storage-2.23.0-py2.py3-none-any.whl (191 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 191.4/191.4 kB 7.2 MB/s eta 0:00:00
Downloading pydata_google_auth-1.8.2-py2.py3-none-any.whl (15 kB)
Installing collected packages: requests-oauthlib, google-auth-oauthlib, pydata-google-auth, google-cloud-bigquery-storage, pandas-gbq
Successfully installed google-auth-oauthlib-1.1.0 google-cloud-bigquery-storage-2.23.0 pandas-gbq-0.19.2 pydata-google-auth-1.8.2 requests-oauthlib-1.3.1

In [34]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
from google.cloud import bigquery
from pyspark.sql.functions import col, udf
from pyspark.sql.types import FloatType

In [35]:
# step 1 with table as output

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("DataSourceSinkExample")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")
# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
# Create a BigQuery client
client = bigquery.Client(project="degroup11")

QUERY = ('''
    SELECT 
    ind.gross_salary,
    ind.alimony_amount,
    ind.has_spouse,
    sp.gross_salary AS sp_gross_salary,
    sp.alimony_amount AS sp_alimony_amount,
    CAST(
        IF(ind.has_spouse = FALSE, 
            ind.gross_salary - 12 * ind.alimony_amount, 
            IF(ind.gross_salary > sp.gross_salary, 
            ind.gross_salary - 12 * ind.alimony_amount + 1/3 * (sp.gross_salary - 12 * sp.alimony_amount),
            sp.gross_salary - 12 * sp.alimony_amount + 1/3 * (ind.gross_salary - 12 * ind.alimony_amount))
        ) AS INT64
    ) AS house_spendable_income
FROM 
    degroup11.group11dataset.individuals ind
LEFT JOIN 
    degroup11.group11dataset.spouse sp
ON 
    ind.spouse_ID = sp.spouse_ID
    ''')
# Run the query and get the result as a DataFrame
query_job = client.query(QUERY)
query_result = query_job.result().to_dataframe()

# Create a Spark DataFrame from the query result
df_income = spark.createDataFrame(query_result)

# Show DataFrame schema and data
df_income.printSchema()
df_income.show()

root
 |-- gross_salary: long (nullable = true)
 |-- alimony_amount: long (nullable = true)
 |-- has_spouse: boolean (nullable = true)
 |-- sp_gross_salary: long (nullable = true)
 |-- sp_alimony_amount: long (nullable = true)
 |-- house_spendable_income: long (nullable = true)

+------------+--------------+----------+---------------+-----------------+----------------------+
|gross_salary|alimony_amount|has_spouse|sp_gross_salary|sp_alimony_amount|house_spendable_income|
+------------+--------------+----------+---------------+-----------------+----------------------+
|       75526|             0|      true|          59122|                0|                 95233|
|      134600|          1200|     false|         101412|                0|                120200|
|      144798|             0|      true|         149733|                0|                197999|
|      150580|             0|      true|          47582|                0|                166441|
|      186763|             0|     false|         181201|                0|                186763|
|       59116|             0|      true|          38986|                0|                 72111|
|      189883|          3697|      true|         143379|                0|                193312|
|      157499|             0|      true|          65001|                0|                179166|
|      171667|          1858|      true|         136836|                0|                194983|
|      168304|             0|     false|          60684|                0|                168304|
|       75892|             0|      true|          88871|                0|                114168|
|      160809|          2390|      true|          80447|                0|                158945|
|       97033|             0|     false|         109320|                0|                 97033|
|       94589|             0|      true|         108912|                0|                140442|
|       49877|             0|     false|          61783|                0|                 49877|
|      106209|             0|     false|          26954|                0|                106209|
|       77328|             0|      true|         181158|                0|                206934|
|      195138|             0|      true|          50156|                0|                211857|
|       47206|             0|     false|          43192|                0|                 47206|
|      102180|             0|     false|         174920|                0|                102180|
+------------+--------------+----------+---------------+-----------------+----------------------+
only showing top 20 rows

In [32]:
#step 2

#year_int = 4.58%
#month_int = 0.0037
#intialised in step 5

In [40]:
# start step 3

#Read table toetsinkomen

QUERY = ('''
SELECT 
    *
FROM 
    degroup11.group11dataset.toetsinkomen
''')

# Run the query and get the result as a DataFrame
query_job = client.query(QUERY)
query_result = query_job.result().to_dataframe()

# Create a Spark DataFrame from the query result
df_rente = spark.createDataFrame(query_result)

sc = spark.sparkContext
braodcast_rente = sc.broadcast(df_rente)

Traceback (most recent call last):
  File "/usr/local/spark/python/pyspark/broadcast.py", line 183, in dump
    pickle.dump(value, f, pickle_protocol)
  File "/usr/local/spark/python/pyspark/context.py", line 466, in __getnewargs__
    raise PySparkRuntimeError(
pyspark.errors.exceptions.base.PySparkRuntimeError: [CONTEXT_ONLY_VALID_ON_DRIVER] It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

PicklingError: Could not serialize broadcast: PySparkRuntimeError: [CONTEXT_ONLY_VALID_ON_DRIVER] It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

In [42]:
spark.stop()

In [11]:
#Add column toetsrente

result_df['Toetsrente'] = None  # Initialize the new column

# Iterate through each row in result_df
for index, row in result_df.iterrows():
    # Find the corresponding row in rente_df based on the condition
    corresponding_row = rente_df[rente_df['Toetsinkomen'] < row['house_spendable_income']].iloc[-1]
    
    # Update the 'toetsrente' column in result_df with the value from rente_df
    result_df.at[index, 'Toetsrente'] = corresponding_row['Toetsrente']

# Now result_df has a new column 'toetsrente' with the desired values
result_df

,gross_salary,alimony_amount,has_spouse,sp_gross_salary,sp_alimony_amount,house_spendable_income,Toetsrente
0,75526,0,True,59122,0,95233,33.5
1,134600,1200,False,101412,0,120200,34.5
2,144798,0,True,149733,0,197999,34.5
3,150580,0,True,47582,0,166441,34.5
4,186763,0,False,181201,0,186763,34.5
...,...,...,...,...,...,...,...
995,76791,1415,False,101711,0,59811,28.5
996,111108,0,False,38953,0,111108,34.5
997,51688,0,True,47980,0,67681,30.0
998,193117,0,True,183747,0,254366,34.5
999,185574,3479,False,37998,0,143826,34.5

In [12]:
#Finalise step 3

result_df['mortgage_year'] = result_df['house_spendable_income'] * result_df['Toetsrente'] * 0.01
result_df['mortgage_month'] = result_df['mortgage_year'] / 12
result_df

,gross_salary,alimony_amount,has_spouse,sp_gross_salary,sp_alimony_amount,house_spendable_income,Toetsrente,mortgage_year,mortgage_month
0,75526,0,True,59122,0,95233,33.5,31903.055,2658.587917
1,134600,1200,False,101412,0,120200,34.5,41469.0,3455.75
2,144798,0,True,149733,0,197999,34.5,68309.655,5692.47125
3,150580,0,True,47582,0,166441,34.5,57422.145,4785.17875
4,186763,0,False,181201,0,186763,34.5,64433.235,5369.43625
...,...,...,...,...,...,...,...,...,...
995,76791,1415,False,101711,0,59811,28.5,17046.135,1420.51125
996,111108,0,False,38953,0,111108,34.5,38332.26,3194.355
997,51688,0,True,47980,0,67681,30.0,20304.3,1692.025
998,193117,0,True,183747,0,254366,34.5,87756.27,7313.0225
999,185574,3479,False,37998,0,143826,34.5,49619.97,4134.9975

In [19]:
#Step5
months = 360
monthly_int_rate = 0.0037

def mortgagefun(pay, m, int):
    return pay * ((1-((1+int)**-m))/int)

result_df['possible_mortgage'] = result_df['mortgage_month'].apply(mortgagefun, args=(months, monthly_int_rate))
individuals_df = result_df
individuals_df

,gross_salary,alimony_amount,has_spouse,sp_gross_salary,sp_alimony_amount,house_spendable_income,Toetsrente,mortgage_year,mortgage_month,possible_mortgage
0,75526,0,True,59122,0,95233,33.5,31903.055,2658.587917,5.284134e+05
1,134600,1200,False,101412,0,120200,34.5,41469.0,3455.75,6.868551e+05
2,144798,0,True,149733,0,197999,34.5,68309.655,5692.47125,1.131419e+06
3,150580,0,True,47582,0,166441,34.5,57422.145,4785.17875,9.510886e+05
4,186763,0,False,181201,0,186763,34.5,64433.235,5369.43625,1.067214e+06
...,...,...,...,...,...,...,...,...,...,...
995,76791,1415,False,101711,0,59811,28.5,17046.135,1420.51125,2.823368e+05
996,111108,0,False,38953,0,111108,34.5,38332.26,3194.355,6.349010e+05
997,51688,0,True,47980,0,67681,30.0,20304.3,1692.025,3.363021e+05
998,193117,0,True,183747,0,254366,34.5,87756.27,7313.0225,1.453516e+06
999,185574,3479,False,37998,0,143826,34.5,49619.97,4134.9975,8.218604e+05

In [14]:
##############################################3

In [15]:
from google.cloud import bigquery

# Create a BigQuery client
client = bigquery.Client()

QUERY = '''
    SELECT * FROM `degroup11.group11dataset.house_pricing`
'''

query_job = client.query(QUERY)  # API request

# Use list comprehension to convert rows to a list
rows = [row for row in query_job.result()]

# Get column names
columns = [field.name for field in query_job.result().schema]

# Create a DataFrame manually
houses_df = pd.DataFrame(data=[list(row.values()) for row in rows], columns=columns)

# Now you can access and manipulate the data using Pandas functions
houses_df[['Address','City','Price','Availability']]

                      Address          City      Price  Availability
0                  Wolfpad 66       Alkmaar   905000.0         False
1                 Vikinghof 1     Hoofddorp   745000.0         False
2              Hoofdgracht 13       Naarden  1795000.0          True
3     Prins Constantijnlaan 2  Badhoevedorp   945000.0          True
4         Theo Hendriksehof 2     Beverwijk   500000.0         False
...                       ...           ...        ...           ...
5550          Het Wargaren 24          Lith   525000.0          True
5551             Plein-Zuid 7        Aalten   575000.0          True
5552        Eibergsestraat 60   Haaksbergen   498500.0         False
5553                 Heiweg 5        Herpen   650000.0          True
5554           Duindoornhof 5      Bentveld  1800000.0         False

[5555 rows x 4 columns]

In [33]:
# Sort houses_df by 'Price' column
houses_df = houses_df.sort_values(by='Price')

def find_closest_houses(mortgage_amount):
    return list(houses_df[houses_df['Price'] <= mortgage_amount]['Address'].head(5))

In [34]:
individuals_df['possible_mortgage'][0]

528413.4211009981

In [35]:
find_closest_houses(individuals_df['possible_mortgage'][0])

['Stationsstraat 83',
 'Dentgenbachweg 11',
 'Dwarslaan 8',
 'Marijkestraat 6',
 'Aalbersestraat 6']